@import 'tailwindcss';
@layer base {
    :root {
        --spacing: 0.25rem;
    }

    html,
    body {
        margin: 0;
        background-color: #f9fbfd;
    }

    * {
        font-family: 'Roboto', sans-serif;
        padding: 0;
        margin: 0;
    }
}
